/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --white: white;
  --black: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: HelveticaNeue, "Open Sans";
  margin:0;
  padding:0;
}

.page__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.page__container, .page__container > *, div:not(.background) {
  max-width: 1440px;
}

.layout__section {
  width: 82.74vw;
  height: 17vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_text__container {
  margin: 1rem 0 0 0.51rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.abc {  
  width: 4.728rem;
  height: 2.363rem;
  object-fit: contain;
}

.Industry-Services-AboutUs {
  display: flex;
  flex-direction: column;
  width: 4.563rem;
  height: 4.875rem;
  margin: 0.958rem .145rem 0 .021rem;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
}

.Industry-Services-AboutUs > a {
  color: var(--white);
  text-decoration: none;
}

a.text-style-1 {
  color: #ffc004;
}

.contact_us__container {
  width: 8.063rem;
  height: 3rem;
  margin: 0.958rem 2.545rem 4.7rem .021rem;
  background-color: rgba(255, 255, 255, 0);
}

.contact_us__text_box {   
  width: 8.688rem;
  height: 1.225rem;
  margin: 0 0 1.03rem 1.24rem;
  padding: 0.75rem 0.063rem 0.75rem 0;
  border: solid 1px var(--white);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.text {
  width: 8.625rem;
  height: 1.125rem;
  margin: 0 0 .079rem 0;
  font-size: .938rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align:center;
  margin:auto;
  padding:0;
  min-width: 100%;
  min-height: 100%;
}

.head_subhead__container {
  position: relative;
  height: 17rem;
  width: 81.94vw;
  display: flex;
  margin: 14% 0 0 0;
}

.title {
  height: 17rem;
  width: 53.54%;
  margin: 0;
  font-size: 5.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.2px;
  color: var(--white);
}

.subhead {
  height: 14.188rem;
  width: 31.5%;
  margin: 0 0 0 11.04%;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: var(--white);
}

.cta__container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 11.188rem;
  width: 81.94vw;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
}

.cta {
  width: 40.9%;
  height: 2rem;
  margin: 4.625rem 0 0 6.52%;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.63px;
  color: var(--black);
}


.lets_talk__text{
  text-align: center;
  font-size: 0.688rem;
  width: 22.311%;
  height: 1.75rem;
  margin: 5rem 11.588% 0 0;
  font-size: 0.688rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: 1px;
  color: var(--black);
  display: flex;
  align-items: center;
}

.lets_talk__text::after {
  /* Not an exact match for the arrow, but close */
  content: '\027f6';
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 .3rem 1rem;
  color: #ffc004;
  font-size: 1.688rem;
}
